{{ form_start(form,{'attr': {'role':'form'}}) }}



	<div class="form-group ">
		<label class="control-label no-padding-right">{{ form_label(form.Name) }}</label>
		{{ form_widget(form.Name,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group ">
		<label class="control-label no-padding-right">{{ form_label(form.Phone) }}</label>
		{{ form_widget(form.Phone,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>

	<div class="form-group ">
		<label class="control-label no-padding-right">{{ form_label(form.Address) }}</label>
		{{ form_widget(form.Address,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group ">
		<label class="control-label no-padding-right">{{ form_label(form.OrganizationName) }}</label>
		{{ form_widget(form.OrganizationName,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>

	<div class="form-group ">
            <label class="control-label no-padding-right">Type</label> 
            <select name="customer_type" class="form-control" id="sel1">
                <option value="{{1}}">Seller</option>
                <option value="{{2}}">Buyer</option>
            </select>
            <div class="help-block with-errors"></div>
        </div>
	
		{% if not button_label is defined  %}
			<button class="btn btn-info">{{ button_label|default('Save') }}</button>
			<button class="btn  btn-warning " style="margin-right:20px;" type="reset">Reset</button>

		{% else %}
			<input type="hidden" name="edit" value="{{edit}}">
			<a href="{{ path('permission_index') }}" class="btn btn-primary">
				Cancel
			</a>

			<button class="btn btn-success mr-2">{{ button_label|default('Save') }}</button>
		{% endif %}




{{ form_end(form) }}