{{ form_start(form,{'attr': {'role':'form', 'data-toggle':"confirm", 'data-confirm-class':"myModal", 'data-title':"Sure ?" ,'data-body':"Butterfly will die. Do you confirm ?" ,'data-cancel-button-class':"cancel" , 'data-confirm-button-class':"danger"}}) }}



	<div class="form-group ">
		<label class="control-label no-padding-right">{{ form_label(form.approvedQuantity) }}</label>
		{{ form_widget(form.approvedQuantity,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>
	<div class="form-group ">
		<label class="control-label no-padding-right">{{ form_label(form.remark) }}</label>
		{{ form_widget(form.remark,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div>
	
	        <input type = "hidden" name = "more" value = "{{stock.id}}">
			<button class="btn btn-success" name = "approve" type = "submit" value="approve" >Approve</button>
			<button class="btn  btn-danger " style="margin-right:20px;" type="submit" name = "reject" value ="reject">Reject</button>
			<a href="{{ path('stock_index') }}" class="btn btn-info">
				Back
			</a>

			
		




{{ form_end(form) }}