<html>
    <head>
        <style>
             #Good{
           text-align: center;
        
        }
        #table1,#th,#td{
            border: 1px solid black;
            border-collapse: collapse;
            padding-bottom: 1%;
            padding-top: 1%;
            text-align: left;
            
        }
       
    
           .k,#th1,#td1{
            border: 1px solid black;
            border-collapse: collapse;
            padding-bottom: 1%;
            padding-top: 1%;
            text-align:center;
            
           }
           .g{
            border: 1px solid black;
            border-collapse: collapse;
            
           }
           .col1andcol2{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
           }
           @media print {
            #printer {
            display: none;
            }
            @page { margin: 0; }
            body { margin: 1.6cm; }
            }
           @media screen and (max-width: 820px) {
               .col1andcol2{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    /*text-align: center;*/
                    
              }
              
         }
              .end1{
                display: none;
              }
              .endblock{
                display: initial;
              }
           }
           .endblock{
            display: none;
           }
           
        </style> 
    </head>
    <body>

        <p style="float:right; padding-right: 65px"> No: {{ product.serial }}</p>
		
        <table width=50%; id="table1">
            <tr>
                <th id="th">አቅራቢ<br>Name of Hand Over </th>
                <td id="td" >  {{ product.handOveredBy }}</td> 
              
            </tr>
             <tr>
                <th id="th">የሸኝ ሰነድ አይነትና ቁጥር<br>Type of Doc. & No</th>
                <td id="td"> {{ product.TypeOfDocAndNum }} </td>
                
            </tr>
        </table>
        <table class="g"; width=100%>
            <tr>
                <th style="width: 10%" id="th" >የመኪና ሰሌዳ ቁጥር</th>
                <td style="width: 10.1%" id="td"> {{ product.plateNumber }}</td>
                <td style="width: 30%" id="td">ተሳቢ ሰሌዳ ቁጥር<br>trailer plate Number</td>
                <td  style="text-align:center" id="td"  > {{ product.trialNumber }}</td>
                <td style="width: 14%" id="td">የሹፈሩ ስልክ ቁጥር</td>
                <td  id="td" style="text-align:center" >{{ product.phoneNumber }}</td>
                {# <td  id="td"></td> #}
            </tr>
        </table>
        <br>
        <table width=100% class="k">
             <tr>
                <th style="text-align:center" id="th1">ተቁ</th>
                <th style="text-align:center" id="th1">የሸቀጥ አይነት</th>
                <th  style="text-align:center" id="th1">መስፈርት</th>
                <th style="text-align:center" id="th1">ብዛት</th>
                <th style="text-align:center"  id="th1">የተጣራ ክብደት</th>
                <th style="text-align:center"  id="th1">የአንዱ ዋጋ</th>
                <th  style="text-align:center" id="th1">ጠቅላላ ዋጋ</th>
            </tr>
            {% set i = 1 %}
            {% set Total_sum = 0 %}
            {% for item in ProductDelivery_list %}
            {% if not item.approvedQuantity == null %}
             <tr>
                <td id="td1">{{ i }}</td>
                {%  set i = i + 1  %}
                 <td id="td1">{{ item.product  }}</td>
                  <td id="td1">{{ item.specification }}</td>
                   <td id="td1">{{ item.approvedQuantity }}</td>
                    <td id="td1" >{{ item.weight }}</td>
                     <td id="td1" >{{ item.unitPrice }}</td>
                     <td id="td1" style="width: 8%">{{ item.unitPrice * item.quantity }}</td>
                     {% set Total_sum = Total_sum + item.unitPrice * item.quantity  %}
                      
             </tr>
             {% endif %}
             {% endfor %}
              <tr>
                <td id="td1"></td>
                 <td id="td1">Total</td>
                  <td id="td1"></td>
                   <td id="td1"></td>
                    <td id="td1" ></td>
                     <td id="td1" ></td>
                     <td id="td1" style="width: 8%">{{ Total_sum }}</td>
                     
             </tr>   
        </table>
        <div>
            <p class="notice" style="width: 100%;">ማስታዎሻ:_____________________________________________________________<span class="end1">____________________________________________________________</span></p>
            <p class="endblock" style="padding-left: 65px">_____________________________________________________________</p>
        </div>
         <div class="col1andcol2">
             <div class"col1">
                <p>ያዘጋጀዉ<span style="padding-left: 120px">  ተረካቢ  </span></p>
                <p>ስም __________ <span style="padding-left: 20px">ስም <u> __{{ product.receivedBy }}</u> </span></p>
                <p>ፊርማ _________ <span style="padding-left: 15px">ፊርማ __________ </span></p>
         </div>
         <div class="col2">
                <p> አስረካቢ<span style="padding-left: 110px">  ያፀደቀ</span></p>
                <p>ስም <u> __{{ product.handOveredBy }}</u>__ <span style="padding-left: 10px">ስም __<u>{{ product.approvedBy }}__</u>  </span></p>
                <p>ፊርማ ______________ <span style="padding-left: 15px">ፊርማ ____________ </span></p>
                <!--style="padding-left: 300px"style="padding-left: 300px"
                style="padding-left: 180px"
                style="padding-left: 170px"-->
         </div>

         </div>
                  
         <p><span style="text-decoration: underline"><b>ስርጭት</b>፡</span>1ኛ ኦርጅናል ነጭ ለሂሳብ ክፍል <span style="padding-left: 10px">2ተኛ ኮፒ ቢጫ ለአስረካቢ</span><span style="padding-left: 10px"> 3ተኛ ኮፒ ቀይ ለተረካቢ</span><span style="padding-left: 10px">4ተኛ ኮፒ ሰማያዊ ከጥራዙ ጋር ይቀመጥ<span></span> </p>
    {# {% break %} #}
         <button id="printer" style="float:right; color:white; font-size: 17px; padding: 12px 27px; background:grey; " onClick="window.print()" >Print</button>

   
     </body>
</html>