{{ form_start(form_ProductDelivery,{'attr': {'role':'form'}}) }}

	{# <div class="form-group ">
		<label class="control-label no-padding-right">{{ form_label(form.store) }}</label>
		{{ form_widget(form.store,{'attr':{'class':'form-control'}}) }}
		<div class="help-block with-errors"></div>
	</div> #}

	<div class="card-body">
        <div class="row">	
            <div class="col-md-6">
                <div class="form-group">
					<label class="control-label no-padding-right">{{ form_label(form_ProductDelivery.handOveredBy) }}</label>
					{{ form_widget(form_ProductDelivery.handOveredBy,{'attr':{'class':'form-control'}}) }}
					<div class="help-block with-errors"></div>
				</div>
				{# <div class="form-group ">
					<label class="control-label no-padding-right">{{ form_label(form_ProductDelivery.receivedBy) }}</label>
					{{ form_widget(form_ProductDelivery.receivedBy,{'attr':{'class':'form-control'}}) }}
					<div class="help-block with-errors"></div>
				</div> #}
	
				<div class="form-group ">
					<label class="control-label no-padding-right">{{ form_label(form_ProductDelivery.typeOfDocAndNum) }}</label>
					{{ form_widget(form_ProductDelivery.typeOfDocAndNum,{'attr':{'class':'form-control'}}) }}
					<div class="help-block with-errors"></div>
				</div>

				
			</div>
			<div class="col-md-6">
				<div class="form-group ">
					<label class="control-label no-padding-right">{{ form_label(form_ProductDelivery.plateNumber) }}</label>
					{{ form_widget(form_ProductDelivery.plateNumber,{'attr':{'class':'form-control'}}) }}
					<div class="help-block with-errors"></div>
				</div>

				<div class="form-group ">
					<label class="control-label no-padding-right">{{ form_label(form_ProductDelivery.trialNumber) }}</label>
					{{ form_widget(form_ProductDelivery.trialNumber,{'attr':{'class':'form-control'}}) }}
					<div class="help-block with-errors"></div>
				</div>
	
				<div class="form-group ">
					<label class="control-label no-padding-right">{{ form_label(form_ProductDelivery.phoneNumber) }}</label>
					{{ form_widget(form_ProductDelivery.phoneNumber,{'attr':{'class':'form-control'}}) }}
					<div class="help-block with-errors"></div>
				</div>
			<div class="form-group row">
					
					{% if not button_label is defined  %}
						
						<div class="col-4">
							<button class="form-control btn btn-success" >{{ button_label|default('Save') }}</button>
						</div>
						{# <div class="col-4">
							<button class="form-control btn  btn-warning " style="margin-right:20px;" type="reset">Reset</button>
						</div> #}
						<div class="col-4">
							<a href="{{ path('product_delivery_index') }}" class="form-control btn btn-primary" style = "float:right;">
								Back
							</a>
						</div>
						
					{% else %}
						<input type="hidden" name="edit" value="{{edit}}">
						<div class="col-4">
							<button class="form-control btn btn-success mr-2" >{{ button_label|default('Save') }}</button>
						</div>
						<div class="col-4">
							<a href="{{ path('product_delivery_index') }}" class="form-control btn btn-primary" style = "float:right;">
								Back
							</a>
						</div>
					{% endif %}
					<div class="help-block with-errors"></div>
				 
				</div>
				<div class="form-group ">
					<label class="control-label no-padding-right"></label>
					
				</div>



				
	  		{# </div>		 #}
		{# </div> #}




{{ form_end(form_ProductDelivery) }}