<html>
   <head>
      <style>
        body{
          margin-left: 10%;
          margin-right: 10%;
        }
         table, th, td {
         border: 1px solid black;
        border-collapse: collapse;
        }
        td {
         padding: 15;
        }
        #center{
        text-align: center;
        }
        .distrb{
          text-decoration: underline;
        }
        #orginal{
          padding-left: 60px;
        }
          @media print {
            #printPageButton {
            display: none;
            }
         }
         @media print {
             @page { margin: 0; }
            body { margin: 1.6cm; }
        }
      </style>
    </head>
    <body>
       <p style="text-align:center; font-size:30px;" >Production Report</p>
       <table style="width:100%">
        <tr>
          <th colspan="8">perform/pcs</th> 
         
          
        </tr>
         <tr>
          <th>#</th>
          <th>Date</th>
          <th>PRV</th>
          <th>0.6 Liter pack</th> 
          <th>1 Liter pack</th>
          <th>2 Liter pack</th>
          <th>20 Liter/jar</th>
          <th>Remark</th>

         
          
        </tr>
        {% set i = 1 %}
        {% for product in ProductionReport %}
      
         <tr>
         <th>{{ i }}</th>
         {% set i = i + 1 %}
          <th>{{ product.date | date('Y-m-d') }}</th>
          <th>{{ product.PVR }}</th>
            {% if product.product.id == 1 %}
          <th>{{ product.quantity }}</th> 
          {% else %}
          <th></th> 
          {% endif %}
            {% if product.product.id == 2 %}
          <th>{{ product.quantity }}</th> 
          {% else %}
          <th></th> 
          {% endif %}
            {% if product.product.id == 3 %}
          <th>{{ product.quantity }}</th> 
          {% else %}
          <th></th> 
          {% endif %}
            {% if product.product.id == 4 %}
          <th>{{ product.quantity }}</th> 
          {% else %}
          <th></th> 
          {% endif %}
          <th></th>
 
        </tr>
        {% endfor %}


         <tr>
          <th>Total</th>
          <th></th>
          <th></th> 
          <th>{{ p1.0.totalSum }}</th>
          <th>{{ p2.0.totalSum }}</th>
          <th>{{ p3.0.totalSum }}</th>
          <th>{{ p4.0.totalSum }}</th>
          <th></th>
 
        </tr>
         <tr>
          <th>unit price</th>
          <th></th>
          <th></th> 
          <th></th> 
          <th></th>
          <th></th>
          <th></th>
          <th></th>

        </tr>

       </table>
      
       <br>
          
<button id="printPageButton" onclick="window.print();" style="float:right">Print</button>
<script></script>

  </body>
  
</html>