{% extends 'base.html.twig' %}

{% block title %}StockList{% endblock %}

{% block body %}
    <h1>StockList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stock_list.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ stock_list.quantity }}</td>
            </tr>
            <tr>
                <th>UnitPrice</th>
                <td>{{ stock_list.unitPrice }}</td>
            </tr>
            <tr>
                <th>CodeNumber</th>
                <td>{{ stock_list.codeNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stock_list_index') }}">back to list</a>

    <a href="{{ path('stock_list_edit', {'id': stock_list.id}) }}">edit</a>

    {{ include('stock_list/_delete_form.html.twig') }}
{% endblock %}
