{% extends 'base.html.twig' %} {% block title %}ConsumptionRequest index {% endblock %} {% block maintitle %} ConsumptionRequest {% endblock %} {% block breadcrumb %}
<li class="breadcrumb-item active">ConsumptionRequest</li>
{% endblock %} {% block body %}
{# <div class="row">
    <div class="card col-md">

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">ConsumptionRequest List</h3>
                            <div class="card-tools">
                                <form class="form-inline ml-3">
                                    <div class="input-group ">
                                        <input class="form-control" autocomplete="off" name="search" type="search" placeholder="Search" aria-label="Search">
                                        <div class="input-group-append">
                                            <button class=" input-group-text btn btn-navbar " type="submit">
													<i class="fas fa-search"></i>
											</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div> 
                </div>        #}
                	<div class="row">
		<div class="card col-md">

			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-info">
							<div class="card-header">
								<h3 class="card-title">
                                Consumption Request List
								</h3>
								<!-- /.card-tools -->
							</div>
							<!-- /.card-header -->
						</div>
					</div>

					<div class="col-md-12">
						<div class="card ">
							<div class="card-header">
								<div class="card-tools">
								
									<form class="form-inline ml-3" >
										<div class="input-group ">
											<input class="form-control" autocomplete="off" name="search" type="search" placeholder="Search" aria-label="Search">
											<div class="input-group-append">
												<button class=" input-group-text btn btn-navbar " type="submit">
													<i class="fas fa-search"></i>
												</button>
											</div>
										</div>
									</form>

									
								</div>
							</div>
							<div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            #
                                        </th>
                                        <th>{{ knp_pagination_sortable(consumption_requests, 'RequestedBy', 'u.username') }} </th>
                                        <th>{{ knp_pagination_sortable(consumption_requests, 'Date', 'c.requestedDate') }}</th>
                                        <th>{{ knp_pagination_sortable(consumption_requests, 'Product', 'p.name') }}</th>
                                        <th>{{ knp_pagination_sortable(consumption_requests, 'Quantity', 'c.quantity') }}</th>
                                        <th>Remark</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set i = 1 %} {% for consumption_request in consumption_requests %}
                                    <tr>
                                        <td>
                                            {{ i }} {% set i = i+1 %}
                                        </td>

                                        <td>{{ consumption_request.requester }}</td>
                                        <td>{{ consumption_request.requestedDate | date('d-m-Y : h-m-s') }}</td>
                                        <td>{{ consumption_request.product }}</td>
                                        <td>{{ consumption_request.quantity }}</td>
                                        <td>{{ consumption_request.remark }}</td>
                                        <td>
                                            <form class="d-inline" method="post" action="{{ path('consumption_approval_index') }}">
                                                <input type="hidden" name="replay" value="{{ consumption_request.id }}" />
                                                <input type="submit" class="btn btn-link" value="Replay" />
                                            </form>
                                        </td>

                                    </tr>
                                    {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <div style="margin-top:20px;">
                                <span> Total :</span> {{ consumption_requests.getTotalItemCount }}
                            </div>
                            {% do consumption_requests.setTemplate('@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') %}
                            <br>
                            <div class="float-right">{{ knp_pagination_render(consumption_requests) }}</div>

                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>

    </div>
    <!-- /.card-body -->
</div>

{% endblock %}