{% extends 'base.html.twig' %}

{% block title %}Permission index
{% endblock %}
{% block maintitle %}
	Permission
{% endblock %}


{% block breadcrumb %}

	<li class="breadcrumb-item active">Permission</li>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="card col-md">

			<div class="card-body">
				<div class="row">
					<div class="col-md-12">
						<div class="card card-info">
							<div class="card-header">
								<h3 class="card-title">Goods Delivery</h3>
								
							</div>
							<div class="card-body">
								<a href="{{ path('new_sell_index') }}" class="btn btn-primary" style = "float:left;">
									New Sell
								</a>
								<table class="table table-hover">
									<thead>
										<tr>
											<th>
												#
											</th>
											{# <th>{{ knp_pagination_sortable(sells, 'Name', 'p.name') }}</th>
											<th>{{ knp_pagination_sortable(sells, 'Code', 'p.code') }}</th> #}
                                            <th>Reciever</th>
                                            <th>place of delivery</th>
                                            <th>driver</th>
											<th>approved by</th>
											<th>Action</th>
                                            <th>view details</th>
											
										</tr>
									</thead>
									<tbody>
										{% set i = 1 %}
										{% for permission in sells %}
											<tr>
												<td>
													{{ i }}
													{% set i = i+1 %}
												</td>
												<td>{{ permission.receivedBy }}</td>
												<td>{{ permission.placeOfDelivery }}</td>
												<td>{{ permission.driver }}</td>
                                                <td>{{ permission.approvedBy }}</td>
												<td>


													<form class="d-inline" method="post" action="{{ path('new_sell_index') }}">
														<input type="hidden" name="edit" value="{{permission.id}}">
														<button  class="btn btn-info btn-sm" title="Edit">
															<i class="fa fa-edit"></i>
														</button>
													</form>
													
													<form class="d-inline" method="post" action="{{ path('goods_delivery_delete', {'id': permission.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
														<input type="hidden" name="_method" value="DELETE">
														<input
														type="hidden" name="_token" value="{{ csrf_token('delete' ~ permission.id) }}">
														{#  <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete">#}
														<button class="btn btn-danger btn-sm" title="Delete">
															<i class="fa fa-trash"></i>
														</button>
													</form>
												</td>

												 <td>
												 	<form class="d-inline" method="post" action="{{ path('goods_delivery_index') }}">
													 	<input type="hidden" name="view" value="{{permission.id}}">
														<button title="view" type = "button" class="btn btn-link " data-target="#demo{{ permission.id }}" data-toggle="collapse">
															View
														</button>
													</form>
                                                </td>													     							
											</tr>
											{% if sellslist %}
											<tr>
												<td colspan="7">
													<div class = "col-md-12">
														<div class="card collapse" id = "demo{{ permission.id }}" >
															<div class="card-body">
																<table class="table table-hover" >
																
																	<thead>
																		<tr>
																			<td></td>
																			{# <th>{{ knp_pagination_sortable(sells, 'Name', 'p.name') }}</th>
																			<th>{{ knp_pagination_sortable(sells, 'Code', 'p.code') }}</th> #}
																			<th>Product</th>
																			<th>Spec</th>
																			<th>quantity</th>
																			<th>weight</th>
																			<th>unitprice</th>
																			<th>Total</th>
																		</tr>
																	</thead>
																
																	<tbody>
																		{% set j = 1 %}
																		{% for sell in sellslist %}								
																		{% if sell.sells.id == permission.id %} 
																		
																			<tr>
																				<td></td>
																				<td>{{ sell.product }}</td>
																				<td>{{ sell.specification }}</td>
																				<td>{{ sell.quantity }}</td>
																				<td>{{ sell.weight }}</td>
																				<td>{{ sell.unitPrice }}</td>
																				<td>{{ sell.quantity * sell.unitprice }}</td>
																				<td>
																					<form class="d-inline" method="post" action="{{ path('new_sell_index') }}">
																						<input type="hidden" name="edit_list" value="{{sell.id}}">
																						<button  class="btn btn-info btn-sm" title="Edit">
																							<i class="fa fa-edit"></i>
																						</button>
																					</form>															
																					<form class="d-inline" method="post" action="{{ path('sells_list_delete', {'id': sell.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">

																						<input type="hidden" name="_method" value="DELETE">
																						<input
																						type="hidden" name="_token" value="{{ csrf_token('delete' ~ sell.id) }}">
																						{#  <button type="button" data-type="confirm" class="btn btn-danger js-sweetalert" title="Delete">#}
																						<button class="btn btn-danger btn-sm" title="Delete">
																							<i class="fa fa-trash"></i>
																						</button>
																					</form>
																				</td>
																			</tr>
																			<tr>
																				<td colspan="8">
																					<form id = "approval" method="post">
																						<div class="form" style = "margin: auto; width: 60%;">

																							<div class="col-auto">
																							<label>Remark</label>
																							</div>

																							<div class="col-auto">
																								<textarea class="form-control " name="remark" form="approval"></textarea>
																							{# <input type="textarea" class="form-control mb-2" id="inlineFormInput" placeholder=""> #}
																							</div>
																							<br>
																
																							<div class="d-inline col-auto" style="float:right;">
																								<input type="hidden" name="approve" value="{{permission.id}}">
																								<button class="btn btn-success mb-2" title="approve">Approve</button>													
																								<input type="hidden" name="reject"  value="{{permission.id}}">
																								<button class="btn btn-danger mb-2" title="Reject">Reject</button>
																							</div>
																						</div>
																					</form>
																				</td>
																			</tr>
																				
																			{% else %}
																				<tr>
																					<td colspan="5">no records found</td>
																				</tr>
																			{% endif %}	
																			{% endfor %}																															
																	</tbody>
																</table>
																<br>
																
																
															</div>
														</div>
													</div>
												</td>
											</tr>
											{% endif %}
										{% else %}
											<tr>
												<td colspan="5">no records found</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								<br>
								{# {% do sells.setTemplate('@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') %} #}
								{# <div class="float-right">{{ knp_pagination_render(sells) }}</div> #}


							</div>
						</div>
					</div>
					<!-- /.card-body -->
				</div>
			</div>

		</div>
		<!-- /.card-body -->
	</div>
{{dump(sellslist)}}
{{dump(sells)}}
{% endblock %}
{% block javascripts %}
	{% if edit %}
		<script>

{#  
			 $(function () {
 $('#collapse').trigger('click');
})  #}
		</script>
	{% endif %}
{% endblock %}
