<html>
    <head>
        <style>
          
        #table1,#th,#td{
            
            border: 1px solid black;
            border-collapse: collapse;
            padding-bottom: 1%;
            padding-top: 1%;
            text-align: left;
            font-size:12px;
           
            
            
        }
       
    
           .k,#th1,#td1{
            border: 1px solid black;
            border-collapse: collapse;
            padding-bottom:1%;
            padding-top: 1%;
            text-align:center;
            font-size:12px;
           }
           .j,#th2,#td2{
            
            border-collapse: collapse;
            padding-bottom:1%;
            padding-top: 1%;
            text-align:left;
            font-size:12px;
            
           }
           .g{
            border: 1px solid black;
            border-collapse: collapse;
            
           }
           @media print {
            #printPageButton {
            display: none;
            }
         }
         @media print {
             @page { margin: 0; }
            body { margin: 1.6cm; }
        }
        </style> 
    </head>
    <body>
    <button id="printPageButton" onClick="window.print();" style = "float:right;" >Print</button>
        <p style="padding-left: 30%" font-size:14px ><b>የንብረት መረከቢያ ደረሰኝ</b><span style="margin-left: 16%">ቀን </span></p> 
        <p style="padding-left: 30%"><b style="text-decoration: underline">Goods Receiveds Voicher</b><span style="margin-left: 14%">Date {{date}}</span></p>
        <table width=50%; id="table1">
            <tr>
                <th id="th" >የርክክብ ቦታ<br>place of delivery</th>
                <td style="width: 60%;" id="td"> {{ stock.placeOfDelivery }} </td> 
            </tr>
            <p style="padding-left: 49.5%" font-size:14px ><span style="margin-left: 7.5%">No {{ stock.serialNumber }} </span></p> 
            <tr>
                <th id="th">አቅራቢ<br>supplier</th>
                <td id="td" > {{ stock.deliveredBy }} </td> 
            </tr>
             <tr>
                <th id="th">የሸኝ ሰነድ አይነትና ቁትር<br>doc.code</th>
                <td id="td"> {{ stock.typeOfDocAndNum }} </td>
                
            </tr>
               <tr>
                <th id="th">የሹፌር/አስረካቢ ስምና ስልክ <br>Driver name & mobile</th>
                <td id="td"> {{ stock.driver }} <br> {{ stock.mobile }}</td>
                
            </tr>
        </table>
        <table class="g"; width=50%>
            <tr>
                <th id="th">የመኪና ሰሌዳ ቁጥር<br>track plate NO</th>
                <td style="width: 30%" id="td">{{ stock.trackPlateNum }}</td>
                <td id="td">ተሳቢ ሰሌዳ ቁጥር<br>trial plate</td>
                <td style="width: 30%" id="td">{{ stock.trailerNum }}</td>
            </tr>
        </table>
        <br>
        <table width=100% class="k">
             <tr>
                <th style="text-align:center" id="th1">ተቁ <br>No</th>
                <th style="text-align:center" id="th1">የንብረት<br> መለያ ቁትር<br>Code No</th>
                <th  style="text-align:center" id="th1">የንብረት አይነት<br>Supplies</th>
                <th style="text-align:center" id="th1">መስፈርት<br>U/M</th>
                <td style="text-align:center" id="th1"><b>ብዛት<br>Quantity</b></td>
                <th style="text-align:center"  id="th1">የአንዱ ዋጋ<br>unite price</th>
                <th  style="text-align:center"  id="th1">ጠቅላላ ዋጋ<br>Total price</th>
            </tr>
            {% set i=0 %}
            {% set total = 0%}
            {% for item in stock.stockLists %}
            {% set i = i+1 %}
            
             <tr>
                <td id="td1">{{ i }}</td>
                 <td id="td1">{{ item.codeNumber }}</td>
                  <td id="td1">{{ item.product }}</td>
                   <td id="td1"> {{ item.unitOfMeasure }} </td>
                    <td id="td1">{{ item.approvedQuantity }}</td>
                     <td id="td1" >{{ item.unitPrice }}</td>
                      {# <td id="td1" style="width:3%"> </td> #}
                      {% set total = total + item.unitPrice * item.approvedQuantity %}
                      <td id="td1">{{ item.unitPrice * item.approvedQuantity }}</td>
                      
                       {# <td id="td1" style="width: 3%"></td> #}
             </tr>
             {% endfor %}
             <tr>
                <td colspan="6" style="text-align:left"> Total </td>
                {# <td> </td> #}
                <td>{{total }}</td>
             </tr>
        </table>
        
         <p>Remarks:</p>
        <table width=100% class="j">
             <tr>
                <th style="text-align:left ;text-decoration: underline;width:25% " id="th2">ያዘጋጀዉ</th>
                <th style="text-align:left;text-decoration: underline;width:25%" id="th2">ተረካቢ </th>
                <th  style="text-align:left;text-decoration: underline;width:25%" id="th2">አስረካቢ</th>
                <th style="text-align:left;text-decoration: underline;width:25%" id="th2">ያጠደቀ</th>
             </tr>
            <tr>
                <th style="text-align:left" id="th2">ስም</th>
                <th style="text-align:left" id="th2">ስም __<u>{{ stock.receivedBy }}</u>__</th>
                <th  style="text-align:left" id="th2">ስም __<u>{{ stock.deliveredBy }}</u>__</th>
                <th style="text-align:left" id="th2">ስም __<u>{{ stock.approvedBy }}</u>__</th>
             </tr>
             <tr>
                <th style="text-align:left" id="th2">ፊርማ</th>
                <th style="text-align:left" id="th2">ፊርማ</th>
                <th  style="text-align:left" id="th2">ፊርማ</th>
                <th style="text-align:left" id="th2">ፊርማ</th>
             </tr>
            </table>
      <p style="font-size:12px"><span style="text-decoration: underline"><b>ስርጭት</b>፡</span>ኦርጅናል ለአስረካቢ<span style="padding-left: 1%">2ተኛ ኮፒ ለሂሳብ ክፍል</span><span style="padding-left: 1%"> 3ተኛ ለተረካቢ</span><span style="padding-left: 1%">4ተኛ ኮፒ ከጥራዙ ጋር ይቀመጥ<span></span> </p>
     </body>
</html>