{% extends 'base.html.twig' %}

{% block title %}stock index
{% endblock %}
{% block maintitle %}
	Stock Delivery
{% endblock %}


{% block breadcrumb %}

	<li class="breadcrumb-item active">Stock Delivery</li>
{% endblock %}
{% block body %}
	<div class="row">
		<div class="card col-md">

			<div class="card-body">
             {% if not edit_list %}
                  
				<div class="row">
               
					<div class="col-md-12">
                    
						<div class="card card-success">
							<div class="card-header">
								<h3 class="card-title">
									{% if edit  %}
                                    Edit
									{% else %}
										Stock Delivery
									{% endif %}	
								</h3>

							</div>
							<!-- /.card-header -->
							<div class="card-body">
								{% if edit  %}
									{% set button_label = 'Update' %}
								{% endif %}
								{{ include('stock/_form.html.twig') }}
            
								
							</div>
							<!-- /.card-body -->
						</div>
					</div>
                </div>
                {% endif %}
				{% if add_item and not edit_list %}
                {# <div class="row">
                    <div class="col-md-12">
                        <form class="d-inline" method="post">
                            {% if edit_list  %}
                                {% set new_button_label = 'Update' %}
                                
                            {% endif %}
                            
                            <button id ="collapse" name="add_items" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">{{ new_button_label|default('Add Items') }}</button>
							
                             <br>  
                        </form>
                        
                    </div>
                   
                    <div class="col-md-12">
                        <div id="demo" class="card card-info collapse">
							<div class="card-header">
								<h3 class="card-title">
									Goods Delivery
								</h3>

                                <div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                    </button>
								</div>
                                
							</div>
							<!-- /.card-header -->
								 {% if edit_list  %}
									{% set list_button_label = 'Update' %}
								{% endif %} 
								{{ include('goods_delivery/_form2.html.twig') }}


							
							<!-- /.card-body -->
						</div>
                    </div>
				</div> #}
				
			 	<button href="#modalCenter" role="button" class="btn btn-info btn-sm" data-toggle="modal">Add Items</i></button>

				<div id="modalCenter" class="modal fade" tabindex="-1">
					<div class="modal-dialog modal-dialog-centered">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Add Item</h5>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
						
								{{ include('stock/_form2.html.twig') }}
							</div>
							<div class="modal-footer">
								
																
							</div>
						</div>
					</div>
				</div>
				</div>
				</div>
				{% else %}
				{% endif %}
				{% if edit_list  %}
                    {% set new_button_label = 'Update' %}
					<div class="row">
                    <div class="col-md-12">
                        
                    </div>
                   
                    <div class="col-md-12">
                        <div id="demo" class="card card-info">
							<div class="card-header">
								<h3 class="card-title">
									Goods Delivery
								</h3>

                                <div class="card-tools">
									
								</div>
                                
							</div>
							<!-- /.card-header -->
								
								{{ include('stock/_form2.html.twig') }}


							
							<!-- /.card-body -->
						</div>
                    </div>
				</div>
                                
                {% endif %}
				{% if not edit_list %}
                <div class="row">
					<div class="col-md-12">
						<div class="card ">
							<div class="card-header">
								<h3 class="card-title">Sells List</h3>
								
							</div>
							<div class="card-body">
								<table class="table table-hover">
									<thead>
										<tr>
                                            <th>
												#
											</th>
											<th>Product</th>
											{# <th>Specification</th> #}
											<th>quantity</th>
											{# <th>Weight</th> #}
											<th>unit price</th>
                                            <th>Total price</th>
                                            <th>Action</th>
										</tr>
									</thead>
									<tbody>
										{% set i = 1 %}
										{% for item in stock_list %}
											<tr>
                                                <td>
													{{ i }}
													{% set i = i+1 %}
												</td>
                                                <td>{{ item.product }}</td>
                                                {# <td>{{ item.specification }}</td> #}
                                                <td>{{ item.quantity }} {{ item.unitOfMeasure }}</td>
                                                {# <td>{{ item.weight }}</td> #}
                                                <td>{{ item.unitPrice }}</td>
                                                <td>{{ item.quantity * item.unitprice }}</td>
                                                <td>

                                                <form class="d-inline" method="post" action="{{ path('edit_sells_list_index',{'id' : item.id}) }}">
                                                    <input type="hidden" name="edit_list" value="{{item.id}}">
                                                    <button  class="btn btn-info btn-sm" title="Edit">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                </form>															
                                                <button href="#deletelistcomfirm{{item.id}}" role="button" class="btn btn-danger btn-sm" data-toggle="modal"><i class="fa fa-trash"></i></button>
													<div id="deletelistcomfirm{{item.id}}" class="modal fade" tabindex="-1">
														<div class="modal-dialog modal-dialog-centered">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title">Delete</h5>
																	<button type="button" class="close" data-dismiss="modal">&times;</button>
																</div>
																<div class="modal-body">
																	<p>Are you sure you want to delete this entry?</p>
																</div>
																<div class="modal-footer">
																	<form class="d-inline" method="post" action="{{ path('stock_list_delete', {'id': item.id}) }}">

																		<input type="hidden" name="_method" value="DELETE">
																		<input
																		type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
																		<button class="btn btn-danger" title="Delete">
																			Delete
																		</button>
																	</form>
																	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
																	
																</div>
															</div>
														</div>
													</div>
                                                </td>
                        
											</tr>
										{% else %}
											<tr>
												<td colspan="5">no records found</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!-- /.card-body -->
				</div>
				{% endif %}
			</div>

		</div>
		<!-- /.card-body -->
	</div>

{# {{dump(id)}}  #}
{% endblock %}
{% block javascripts %}
	{% if edit_list %}
		<script>


			$(function () {
$('#collapse').trigger('click');
})
		</script>
	{% endif %}
{% endblock %}