<!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

           



          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
               System Settings
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
           
              <li class="nav-item">
                <a href="{{ path('user_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>User</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('user_types_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>User Types</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('user_group_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>User Group</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('permission_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Permission</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('department_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Department</p>
                </a>
              </li> 

              <li class="nav-item">
                <a href="{{ path('product_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Product</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('category_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Category</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('consumption_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Consumption Requests</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('stock_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Stock Delivery</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('balance_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Balance List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ path('goods_delivery_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Goods Delivery</p>
                </a>
              </li>
<<<<<<< HEAD
              <li class="nav-item">
                <a href="{{ path('purchase_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Purchase Requisition</p>
                </a>
              </li>
                <a href="{{ path('unit_of_measure_index') }}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Unit of Measure</p>
                </a>
              </li>

=======
>>>>>>> parent of a4f7b0a... Yishak Update
            </ul>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->