{% extends 'base.html.twig' %} {% block title %}Consumption Approval index {% endblock %} {% block maintitle %} Consumption Approval {% endblock %} {% block breadcrumb %}

<li class="breadcrumb-item active">Consumption Approval</li>
{% endblock %} {% block body %}
<div class="row">
    <div class="card col-md">

        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">
                                Request Details
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card ">
                        <div class="card-body">
                            <div class="form-group ">
                                <label class="control-label no-padding-right">Product</label>
                                <label class="form-control">{{ consumption_approval.product }}</label>
                            </div>

                            <div class="form-group ">
                                <label class="control-label no-padding-right">Requested By</label>
                                <label class="form-control">{{ consumption_approval.requester }}</label>
                            </div>

                            {# <div class="form-group ">
                                <label class="control-label no-padding-right">Unit Of Measure</label>
                                <label class="form-control">{{ consumption_approval.unitOfMeasure }}</label>
                            </div> #}

                            <div class="form-group ">
                                <label class="control-label no-padding-right">Quantity</label>
                                <label class="form-control">{{ consumption_approval.quantity }}</label>
                            </div>

                            <div class="form-group ">
                                <label class="control-label no-padding-right">Requested Date</label>
                                <label class="form-control">{{ consumption_approval.requestedDate | date('d-m-Y : h-m-s') }}</label>
                            </div>

                            <div class="form-group ">
                                <label class="control-label no-padding-right">Remark</label>
                                <label class="form-control">{{ consumption_approval.remark }}</label>
                            </div>
                            
                        </div><!-- /.card-body -->
                            <div class="card-body">
                                <div class="form-group ">
                                    {{ include('consumption_approval/_form.html.twig') }}
                                </div>
                            </div>    
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    <!-- /.card-body -->
</div>
{% endblock %}